@use 'vars' as v;
@use 'mixins' as m;

html{
    font-size: 62.5%;
    margin: 0;
    padding: 0;
    @include m.box-sizing(border-box);
}

*, *::after, *::before{
    @include m.box-sizing(inherit);
}

body{
    font-family: v.$main-font;
    font-size: 2rem;
    color: v.$main-color;
}

// Textos
p{
    color: v.$black;
    font-size: 2rem;
}

h1{
    font-size: 4rem;
}

h2{
    font-size: 3.6rem;
}

h3{
    font-size: 3.2rem;
}

h1, h2, h3{
    margin: 0 0 v.$spacing 0;
}

a{
    text-decoration: none;
}

// Imágenes responsive
img{
    max-width: 100%;
    display: block;
}

// Container
.container{
    margin: 0 auto;
    max-width: 1200px;
    width: 95%;
}