// Variables
// Fuentes
$main-font: 'Roboto', sans-serif;

// Colores
$main-color: #e8505b;
$secondary-color: #455a64;
$black: #000000;
$grey: #eceeef;
$white: #ffffff;

// Separación
$spacing: 5rem;

// Tamaño media-queries
$small: 480px;
$medium: 768px;
$big: 1024px;