@use '../base/vars' as v;
@use '../base/mixins' as m;

.steps{

    margin-top: v.$spacing;

    &__content{
        background-color: v.$main-color;
    }
    &__heading{
        color: v.$white;
        text-align: center;
   
        &--description{
            display: block;
            font-size: 1.8rem;
        }
   
    }

    &__grid{
        @include m.tablet {
            @include m.do-grid(3,v.$spacing);
        }
    }

    &__image{
        transition: transform 0.3s;
        &:hover{
            transform: rotate(-5deg) scale(1.1);
        }
    }
   


}